@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
  padding:0;
  margin:0;
  font-family: 'Montserrat',sans-serif;
  box-sizing: border-box;
}
a[target='_blank']:after {
  content: '\1F5D7'
}
.header {
  display: flex;
  justify-content: space-between;
}
.headerimg {
  padding: 1rem 2rem;
}
.headerimg img {
  width: 9.5rem;
  height: 1.28rem;
}
.headernav {
  margin-top: 1rem;
}
.headernav nav a {
  text-decoration: none;
  color: #000;
  padding: 1rem 3rem;
  font-size: 0.9rem;
}
.headernav nav a:hover {
  color: #cc541c;
  transition: 0.5s;
}
.headerSearch {
  margin-top: 1rem;
}
.headerSearch span {
  padding: 1rem 2rem;
  border-left: 1px solid rgba(172, 172, 172, 0.282);
}
.headerSearch span:hover {
  color: #cc541c;
  transition: 0.5s;
}
.hero {
  background-color: #000;
  height: 53rem;
}
.heroImg {
  position: absolute;
  left: 50%;
}
.heroImg img {
  width: 30rem;
  height: 50rem;
}
.heroImg img:hover {
  animation: heroimg 2s;
}
.herotext {
  color: white;
  position: relative;
  width: 90vw;
  top: 40%;
  left: 7%;
}
.herotext h1 {
  font-size: 1.5rem;
}
.herotext p {
  font-size: 3.5rem;
}
.herotext p:nth-child(4) {
  padding: 0.8rem 0;
  font-size: 0.8rem;
  width: 13rem;
}
.herotext span {
  display: block;
  margin-top: -1.5rem;
  width: 13rem;
  height: 2rem;
  border-bottom: 1px solid rgba(255, 102, 0, 0.727);
}
.herotext span:hover {
  animation: move 1s;
}
.heroCTA {
  position: relative;
  background-color: #111010;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 50%;
  height: 13rem;
}
.heroCTA button {
  height: 3rem;
  margin: 0 -3rem;
  width: 16rem;
  background-color: #ebebeb;
  border: none;
  letter-spacing: 1px;
}
.heroCTA button:hover {
  background-color: #6c6c6c;
  transition: 0.5s;
  color: white;
}
.products {
  background-color: #000;
  padding: 5rem 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-bottom: 2rem;
}
.wrapper .searchwrapper {
  background-color: #e4e4e4;
  width: 28rem;
  border-radius: 2px;
  overflow: hidden;
  text-align: center;
}
.wrapper .searchwrapper input {
  width: 25rem;
  outline: none;
  background-color: #e4e4e4;
  height: 2rem;
  border: none;
  text-align: center;
}
.models {
  text-align: center;
  margin-bottom: 4rem;
}
.models a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  margin: 0 5rem;
}
.models a:hover {
  color: #cc541c;
  transition: 0.5s;
}
.allproducts {
  color: white;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.product {
  text-align: center;
  margin: 2rem;
}
.product h3 {
  font-size: 1rem;
  padding: 1rem;
}
.product .productimage img {
  height: 28rem;
  width: 19rem;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.product .productimage img:hover {
  transform: scale(1.1);
}

/*
  Hides Sitecore Experience Editor markup,
  if you run the app in connected mode while the Sitecore cookies
  are set to edit mode.
*/
.scChromeData, .scpm { display: none !important; }